.App {
  text-align: center;
  min-height: '100vh'; 
  position: 'relative';
  background: linear-gradient(45deg, rgb(253, 250, 250), rgba(231, 228, 228, 0.959));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding-bottom: '8.5rem'
}

.App-header {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(45deg, #dc3545, rgba(240, 114, 114, 0.959));
  font-weight: bold;
  font-size: 22px;
  text-align: left !important;
  padding: 0 100px;
}

.App-body{
  min-height: 800px;
}

.footer{
  background: #000000  !important;
  position: 'absolute' !important;
  bottom: '0'  !important; 
  width: '100%'  !important; 
  height: '100%'  !important;
}
